<!-- <app-home></app-home> -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">Demo</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link " aria-current="page" routerLink="" routerLinkActive>Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="admin" routerLinkActive>Admin</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="user" routerLinkActive>User</a>
        </li>
        <li>
          <a class="nav-link" routerLink="login">Sign In</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>